;
; Example configuration file, containing numeric, string, boolean, and list values.
;
; See IntegrationTest.java for tests which assert against this file.
;
[user]
id          = 641220 ; LDAP uid
name        = "Alice Sykes"
email       = alice.sykes@gmail.com
email<work> = asykes@company.com
email<home> = asykes@home.com

[color]
ui = true
transparency = 75.5
alphavalues = 3,4,5.6

[core]
excludes     =.ignore,~/.ignore,/etc/ignore
preloadindex = false
setvalues    = true,false,no,yes
setvalues<production> = true,false, no, no